# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# other projects in this directory
courtpulse/

# personal files
Cam england/
FT/
Intern/
Journey/
Later/
Lead Swift/
Me/
Pics/
Resources/
S/
Watch/
Whop apps/
*.webp
*.pdf
*.csv
*.xlsx
*.jpg
*.jpeg
*.png
*.heic
*.mov
*.mp4
*.MOV
